<!DOCTYPE html>    
<httpProtocol>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
</httpProtocol>
<head>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="../static/app.js"></script>
        <link rel="stylesheet" href="../static/app.css" type="text/css" />

	    <script type="text/javascript" src="../static/database-browserify.js"></script>

    <meta charset="utf-8">
    <title>hello</title>
	
	<!-- Get version 1.1.0 of Fabric.js from CDN -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.3.0/fabric.min.js" ></script>
 
	<!-- Get the highest 1.X version of jQuery from CDN. Required for ready() function. -->
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script> 
	<script src="../static/grid.js"></script>
	<!-- link rel="stylesheet" href="../static/grid.css"> -->
 </head>
<body>
		
		<button  id = "save"> Show my elements </button>

		<div> </div>
		<!-- A canvas tag is required or 
			 Fabric.js doesn't know where to draw. -->
		<canvas id="c" width="1000" height="500"></canvas>
		<img src="https://66.media.tumblr.com/f115b5010bccc9364bfcd0ee79af7132/tumblr_pi5tmjHk2r1u9vozfo1_400.png" id="player" style= "display: none">
		<img src ="https://66.media.tumblr.com/80be0a8193d1c538f062f9999f9bff51/tumblr_pi5rtm1dbr1u9vozfo1_400.jpg" id="ground" style= "display: none">
        <img src = "http://superwalrusland.com/ohr/issue26/pa/stone2_b.jpg" id = "stone" style= "display: none">
        <img src = "https://66.media.tumblr.com/4a8e88c9194d00c4e2e14d62f2a9dc76/tumblr_pi5t840NIu1u9vozfo1_250.png" id = "coin" style= "display: none">
        <img src = "https://66.media.tumblr.com/884ee0b1b0e3e6433476646be9448c54/tumblr_pi5tjpe7T81u9vozfo1_250.png" id = "enemy" style= "display: none">
        <img src = "https://66.media.tumblr.com/18b1dcddb1e6de2d56f2bbc16e368af5/tumblr_pi5sz2UwpH1u9vozfo1_250.png" id ="npc" style= "display: none"> 
        <img src = "https://orig00.deviantart.net/1ba2/f/2013/348/b/d/garbage_by_pixel_placer-d6xybtp.png" id= "trash" style="display: none">

        <break></break>
        <break></break>
        <button onclick="database.getByTitle('test-title')">Search for test-title</button>
        <button onclick="database.getByTitle('cbh-title')">Search for cbh-title</button>
        <button onclick="database.getByTitle('vcbc')">Search for vcbc</button>
        <button onclick="myFunction()">Add test grid to DB</button>
        <button onclick="testRetrieveGrid()">Test Retrieving Grid</button>
        <button onclick="testStoreGrid()">Test Storing Grid</button>
        <button onclick="testDeleteGrid()">Test Delete Grid</button>
        <button onclick="testUpdateGrid()">Test Update Grid</button>
        <button onclick="testGetAllTitles()">Test Get All Titles</button>
        <button onclick="testDeleteGrid()">Test Delete Grid</button>
        <button onclick="testIsRunning()">Test Is Running</button>

        <script>
        var cbResult;
        var myCB = function(data) {
            alert(data);
            cbResult = data;
        }
        function myFunction() {
            var mytitle = prompt("Enter the grid title", "title");
            var test_data = prompt("Enter the data", "my data ");
            console.log("title: " + mytitle);
            console.log("data: " + test_data);
            var myJSON = {
                "title" : mytitle,
                "data" : test_data
            }
            if(mytitle != null) {
                database.storeGrid(JSON.stringify(myJSON), myCB);
                console.log("store grid should have worked")
            }
        }

        async function testIsRunning() {
            var success;
            try {
                success = await database.isRunning();
                console.log("isrunning success: " + success)
            } catch(err) {
                console.log(err);
            }
        }

        async function testRetrieveGrid() {
            var mytitle = prompt("Enter the grid title", "title");
            
            if(mytitle != null) {
                console.log("*****before: cbResult = " + cbResult);
                try {
                    var testGridVal = await database.getByTitle(mytitle, myCB);
                } catch (error) {
                    console.log(error);
                }
                console.log("*****after: cbResult = " + cbResult);
                console.log("*****after: testGridVal = " + testGridVal);
            }
        }

        async function testDeleteGrid() {
            var title = "testStoreGrid title";
            try {
                var success = await database.deleteGrid(title);
                console.log("*****testDeleteGrid: " + success)
            } catch(err) {
                console.log(err);
            }
        }

        async function testUpdateGrid() {
            var myTestUpdateGrid = {
                "title" : "testStoreGrid title",
                "data" : "xtina xtina banana fana fo fina, me mi mo mina, xtina! this the new grid thoooo"
            }
            console.log("*****myTestUpdateGrid: " + JSON.stringify(myTestUpdateGrid));
            try {
                var storeResult = await database.updateGrid(JSON.stringify(myTestUpdateGrid));
                console.log("*****myTestUpdateGrid: " + storeResult);
            } catch(error) {
                console.log(error);
            }
            console.log("*****updateResult: " + storeResult);
        }

        async function testGetAllTitles() {
            var titles;
            try {
                titles = await database.getAllTitles();
                console.log(titles);
            } catch(err) {
                console.log(err);
            }
        }

        function testStoreGrid() {
            var myTestGrid = {
                "title" : "testStoreGrid title",
                "data" : "xtina xtina banana fana fo fina, me mi mo mina, xtina!"
            }
            console.log("*****myTestGrid: " + JSON.stringify(myTestGrid));
            var storeResult = database.storeGrid(JSON.stringify(myTestGrid));
            console.log("*****storeResult: " + storeResult);
        }
        </script>
    </body>  
	


		

 
 
</html>
