<!DOCTYPE html>
<httpProtocol>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
</httpProtocol>
<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="../static/app.js"></script>
        <link rel="stylesheet" href="../static/app.css" type="text/css" />

	    <script type="text/javascript" src="../static/database-browserify.js"></script>

    <meta charset="utf-8">
    <title>MakeLevel</title>

	<!-- Get version 1.1.0 of Fabric.js from CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.3.0/fabric.min.js" ></script>

	<!-- Get the highest 1.X version of jQuery from CDN. Required for ready() function. -->
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
  <div class="header"> ** working on a new menu **
    		   <div style="display: inline-block; background: #a3c0f5"></div>
           <a href="#" class="myButton">click</a>
</div>
		<button  id = "save"> Show my elements </button>

		<!-- A canvas tag is required or

     Fabric.js doesn't know where to draw. -->
     <div class="wrapper">
    <canvas id="c" width="2000" height="500"></canvas>
  </div>
		<img src="https://66.media.tumblr.com/f115b5010bccc9364bfcd0ee79af7132/tumblr_pi5tmjHk2r1u9vozfo1_400.png" id="player" style= "display: none">
		<img src ="https://66.media.tumblr.com/80be0a8193d1c538f062f9999f9bff51/tumblr_pi5rtm1dbr1u9vozfo1_400.jpg" id="ground" style= "display: none">
        <img src = "http://superwalrusland.com/ohr/issue26/pa/stone2_b.jpg" id = "stone" style= "display: none">
        <img src = "https://66.media.tumblr.com/4a8e88c9194d00c4e2e14d62f2a9dc76/tumblr_pi5t840NIu1u9vozfo1_250.png" id = "coin" style= "display: none">
        <img src = "https://66.media.tumblr.com/884ee0b1b0e3e6433476646be9448c54/tumblr_pi5tjpe7T81u9vozfo1_250.png" id = "enemy" style= "display: none">
        <img src = "https://66.media.tumblr.com/18b1dcddb1e6de2d56f2bbc16e368af5/tumblr_pi5sz2UwpH1u9vozfo1_250.png" id ="npc" style= "display: none">
        <img src = "https://orig00.deviantart.net/1ba2/f/2013/348/b/d/garbage_by_pixel_placer-d6xybtp.png" id= "trash" style="display: none">

        <input id="test-db-search" type="button" value="clickme" onclick="getByTitle(test-title)"/>
        <button onclick="getByTitle()">Click me</button>
        <button onclick="database.getByTitle('test-title')">Get test-title</button>
        <button onclick="database.getByTitle('cbh-title')">Get cbh-title</button>
        <button onclick="database.getByTitle('vcbc')">Get vcbc</button>


        <button onclick="myFunction()">Click me</button>

        <script>
        function myFunction() {
            var title = prompt("Enter the grid title", "title");
            var test_data = prompt("Enter the data", "my data ");
            if(title != null) {
                database.storeGrid(title);
                console.log("store grid should have worked")
            }
        }
        </script>
    </body>







</html>
