<!DOCTYPE html>
<httpProtocol>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
</httpProtocol>
<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="../static/app.js"></script>
        <link rel="stylesheet" href="../static/app.css" type="text/css" />

	    <script type="text/javascript" src="../static/database-browserify.js"></script>

    <meta charset="utf-8">
    <title>MakeLevel</title>

	<!-- Get version 1.1.0 of Fabric.js from CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.3.0/fabric.min.js" ></script>

	<!-- Get the highest 1.X version of jQuery from CDN. Required for ready() function. -->
	<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
</section>
  <aside class = "inventory">
  <div class="inventory_title">Options</div>
  <div id="inventory_box" class="inventory_box">
    <input type= "image" id = "editpic" class="editpic" src = "https://66.media.tumblr.com/80be0a8193d1c538f062f9999f9bff51/tumblr_pi5rtm1dbr1u9vozfo1_400.jpg" style= "height: 50px; width: 50px; display:none;">
  </div>
<div class="environmenteditor" id="environmenteditor" style="display:none">
  <select name="selector2" id="solid-selector" class= "solid-selector">
  <option value="true">solid</option>
  <option value="false">not solid</option>
  </select>

  <select name= "enviroeffectselector"id="environ-effect-selector" class="environ-effect-selector">
  <option value="heal">Heal</option>
  <option value="damage">Damage</option>
  </select>

  <div class="customterrain">
  <form>
             terrain url:<br>
            <input type="url" name="terrainurl" id="terrainurl">

          </form>
  </div>
  <div class= "changeterrain"id ="changeterrain">
    <button>change terrain</button>
  </div>
</div>

<div class="playereditor" id="playereditor" style="display:none">
  <div class="maxhealthselector">
             <form>
               Enter a max health between 1 and 1000:
               <input type="number" name="health" min="1" max="1000" value="100">
             </form>
           </div>

           <select name= "selector3"id="speed-selector" class="speed-selector">
           <option value=80>High speed</option>
           <option value=60>Medium speed</option>
           <option value=20>Low speed</option>
           </select>
           <div class="gravity-selector" id="gravity-selector">
           <form>
             Gravity:<br>
             <input type="radio" name="color" value=70>high
             <br>
             <input type="radio" name="color" value=40 checked>medium
             <br>
             <input type="radio" name="color" value=25>low
             <br>
           </form>
           </div>
           <div class="customsprite">
           <form>
                      sprite url:<br>
                     <input type="url" name="spriteurl" id="myspriteurl">

                   </form>
           </div>
           <div class= "changebutton"id ="changebutton">
             <button>change sprite</button>
           </div>

</div>

<div class="itemeditor" id="itemeditor" style="display:none">
  <div class="customitem">
        <form>
            Item url:<br>
            <input type="url" name="newitem" id="newitem">

          </form>
  </div>
  <div class= "changeitem"id ="changeitem">
    <button>change item</button>
  </div>

<div class="effect-selector"> Effect:
  <select name= "selector1"id="effect-selector">
  <option value="heal">Heal</option>
  <option value="damage">Damage</option>
</select>
</div>
<div class="itemstrengthselector">
           <form>
             strength:
             <input type="number" name="amount" min="1" max="100" value="1">
           </form>
         </div>
  <div class="itemtargets">
    Item Targets:
    <br>
    <form>
         <input type="checkbox" id="checkbox1" name="target1" value="NPC"> NPC<br>
           <input type="checkbox"id="checkbox2" name="target2" value="Enemy"> Enemy<br>
           <input type="checkbox" id="checkbox3" name="target3" value"Player" checked> Player<br>
         </form>
</div>
</div>

<div class="enemyeditor" id="enemyeditor" style= "display:none">
  <div class="customenemy">
        <form>
            Enemy url:<br>
            <input type="url" name="newenemy" id="newenemy">

          </form>
  </div>
  <div class= "changeenemy"id ="changeenemy">
    <button>change Enemy</button>
  </div>
<div class="enemydamageselector">
           <form>
             Damage:(number
             <br>
              1-100)
              <br>
             <input type="number" name="enemydamage" min="1" max="1000" value="5">
           </form>
         </div>

         <div class="enemy-gravity-selector" id="enemy-gravity-selector">
         <form>
           Gravity:<br>
           <input type="radio" name="enemygrav" value=70>high
           <br>
           <input type="radio" name="enemygrav" value=40 checked>medium
           <br>
           <input type="radio" name="enemygrav" value=25>low
           <br>
         </form>
         </div>

         <div class="enemymaxhealthselector">
                    <form>
                      Enter a max health between 1 and 1000:
                      <input type="number" name="enemymaxhealth" min="1" max="1000" value="100">
                    </form>
                  </div>
                  <div class="enemy-speed-selector"> Speed:
                  <select name= "selector4"id="enemy-speed-selector" >
                  <option value=50>High speed</option>
                  <option value=30>Medium speed</option>
                  <option value=10>Low speed</option>
                  </select>
                </div>
       </div>

<div class="npceditor" id="npceditor" style= "display:none">
  <div class="customnpc">
        <form>
            NPC url:<br>
            <input type="url" name="newnpc" id="newnpc">

          </form>
  </div>
  <div class= "changenpc"id ="changenpc">
    <button>change NPC</button>
  </div>
  <div class="npcmessager">
<form>
             message:<br>
            <input type="text" name="npcmessage" value="hi friend!">
          </form>
  </div>
  <div class="npc-gravity-selector" id="npc-gravity-selector">
  <form>
    Gravity:<br>
    <input type="radio" name="grav" value=70>high
    <br>
    <input type="radio" name="grav" value=40 checked>medium
    <br>
    <input type="radio" name="grav" value=25>low
    <br>
    <input type="radio" name="grav" value=0>none
    <br>
  </form>
  </div>
  <div class="npcmaxhealthselector">
             <form>
               Enter a max health between 1 and 1000:
               <input type="number" name="npcmaxhealth" min="1" max="1000" value="100">
             </form>
           </div>
</div>
<div class="wincondeditor" id="wincondeditor" style="display:none">
  <div class="itemtargets">
    Select game win conditions:<br>
    <form>
         <input type="checkbox" id="check1" name="cond1" value="end" checked> Reach end of level<br>
           <input type="checkbox"id="check2" name="cond2" value="Enemy"> Kill all enemies<br>
           <input type="checkbox" id="check3" name="cond3" value"NPCs"> Talk to all NPCs<br>
         </form>
</div>
</div>

  <ul id="inventory"></ul>
</aside>
</section>
</head>
<body>


  <div class="header" id = "header">
    		   <div style="display: inline-block; background: #a3c0f5"></div>


           <input type="image" id="movemode" class="myButton" src = "http://chittagongit.com/images/move-icon/move-icon-4.jpg" style= "height: 50px; width: 50px">
           <input type ="image" id= "eraserbutton" class="eraser" src="https://webiconspng.com/wp-content/uploads/2017/09/Eraser-PNG-Image-47683.png" style="height: 50px; width: 50px">
           <input type= "image" id = "groundbutton" class="groundbutton"src = "https://66.media.tumblr.com/80be0a8193d1c538f062f9999f9bff51/tumblr_pi5rtm1dbr1u9vozfo1_400.jpg" style= "height: 50px; width: 50px">
           <input type= "image" id = "playerbutton" class = "playerbutton"src = "https://66.media.tumblr.com/f115b5010bccc9364bfcd0ee79af7132/tumblr_pi5tmjHk2r1u9vozfo1_400.png" style= "height: 50px; width: 50px">
           <input type= "image" id = "itembutton" class= "itembutton" src = "https://66.media.tumblr.com/f7acf066084d424d5da0c09795fe8483/tumblr_inline_piy8y9FbkJ1ruhpn7_540.png" style= "height: 50px; width: 50px">
           <input type= "image" id = "enemybutton" class= "enemybutton" src = "https://66.media.tumblr.com/884ee0b1b0e3e6433476646be9448c54/tumblr_pi5tjpe7T81u9vozfo1_250.png" style= "height: 50px; width: 50px">
           <input type= "image" id= "npcbutton" class="npcbutton" src= "https://66.media.tumblr.com/18b1dcddb1e6de2d56f2bbc16e368af5/tumblr_pi5sz2UwpH1u9vozfo1_250.png" style= "height: 50px; width: 50px">
           <input type= "image" id= "wincondbutton" class="wincondbutton" src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2HCODXAqoz-FoAX_BaDOeTDGfIIOsurFlIqT-fWYw3E1LyuBs" style= "height: 50px; width: 50px">




</div>
		<button  id = "save"> Show my elements </button>

		  <!-- A canvas tag is required or

     Fabric.js doesn't know where to draw. -->
    <div class="wrapper">
    <canvas id="c" width="2000" height="500"></canvas>
    </div>
		<img src="https://66.media.tumblr.com/f115b5010bccc9364bfcd0ee79af7132/tumblr_pi5tmjHk2r1u9vozfo1_400.png" id="player" style= "display: none">
		<img src ="https://66.media.tumblr.com/80be0a8193d1c538f062f9999f9bff51/tumblr_pi5rtm1dbr1u9vozfo1_400.jpg" id="ground" style= "display: none">
        <img src = "http://superwalrusland.com/ohr/issue26/pa/stone2_b.jpg" id = "stone" style= "display: none">
        <img src = "https://66.media.tumblr.com/f7acf066084d424d5da0c09795fe8483/tumblr_inline_piy8y9FbkJ1ruhpn7_540.png" id = "coin" style= "display: none">
        <img src = "https://66.media.tumblr.com/884ee0b1b0e3e6433476646be9448c54/tumblr_pi5tjpe7T81u9vozfo1_250.png" id = "enemy" style= "display: none">
        <img src = "https://66.media.tumblr.com/18b1dcddb1e6de2d56f2bbc16e368af5/tumblr_pi5sz2UwpH1u9vozfo1_250.png" id ="npc" style= "display: none">
        <img src = "https://orig00.deviantart.net/1ba2/f/2013/348/b/d/garbage_by_pixel_placer-d6xybtp.png" id= "trash" style="display: none">

        <input id="test-db-search" type="button" value="clickme" onclick="getByTitle(test-title)"/>
        <button onclick="getByTitle()">Click me</button>
        <button onclick="database.getByTitle('test-title')">Get test-title</button>
        <button onclick="database.getByTitle('cbh-title')">Get cbh-title</button>
        <button onclick="database.getByTitle('vcbc')">Get vcbc</button>
        <button onclick="myFunction()">Click me</button>
        <button id="savegrid">save grid</button>

        <script>
        function myFunction() {
            var title = prompt("Enter the grid title", "title");
            var test_data = prompt("Enter the data", "my data ");
            if(title != null) {
                database.storeGrid(title);
                console.log("store grid should have worked")
            }
        }



        </script>

      <img src="https://66.media.tumblr.com/80be0a8193d1c538f062f9999f9bff51/tumblr_pi5rtm1dbr1u9vozfo1_400.jpg" alt="Cursor" class="cursor" id="cursor"/>
      <img src="https://66.media.tumblr.com/f115b5010bccc9364bfcd0ee79af7132/tumblr_pi5tmjHk2r1u9vozfo1_400.png" alt="Cursor" class="cursor2" id="cursor2"/>
      <img src="https://66.media.tumblr.com/f7acf066084d424d5da0c09795fe8483/tumblr_inline_piy8y9FbkJ1ruhpn7_540.png" alt="Cursor" class="cursor3" id="cursor3"/>
      <img src="https://66.media.tumblr.com/884ee0b1b0e3e6433476646be9448c54/tumblr_pi5tjpe7T81u9vozfo1_250.png" alt="Cursor" class="cursor4" id="cursor4"/>
      <img src="https://66.media.tumblr.com/18b1dcddb1e6de2d56f2bbc16e368af5/tumblr_pi5sz2UwpH1u9vozfo1_250.png" alt="Cursor" class="cursor5" id="cursor5"/>
      <img src="https://webiconspng.com/wp-content/uploads/2017/09/Eraser-PNG-Image-47683.png" alt="Cursor" class="cursor6" id="cursor6"/>
    </body>
</html>
