<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/play.css" type="text/css" />
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>Play a Level</title>     
</head>
<div>
Level Title
<button onclick="engine.reset()">RESET</button>
</div>
<div class="wrapper" id="wrap">
    <canvas id="c" width="1000" height="500"></canvas>
</div>
<div> 
  Inventory
  <ul class="horizontal-list" id="inventory"></ul>
</div> 

<div>
  Health
  <progress id= "health"></progress>
</div>
<script src = "../static/index.js"></script>
</html>
