<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="../static/play.css" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport"
       content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>Play a Level</title>
  </head>
  <body>
    <header class="header" id = "header">
      <div class="title">Level Title</div>
      <a href="#" id="movemode" class="myButton" onclick="engine.reset()">RESET</a>
    </header>
    <section="group">
      <section>
        <div class="wrapper" id="wrap">
          <canvas id="c" width="1500" height="500" ></canvas>
        </div>
      </section>
        <aside class = "inventory">
        <div class="inventory_title">Inventory</div>
        <div id="inventory_box" class="inventory_box"></div>
        <ul id="inventory"></ul>
      </aside>
    </section>
    <script src = "../static/index.js"></script>
    <footer>
      <div class="foot_text">
        <span class="instructions">Walk: A and D</span>
        <span class="dividers">~~</span>
        <span class="instructions">Switch Item: E</span>
        <span class="dividers">~~</span>
        <span class="instructions">Use Item: Q</span>
      </div>
      <ul id="rules" class="rules"> To Win: </ul>
    </footer>
  </body>

</html>
