aside{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  width: 150px;
}

.inventory{
  height: 500px;
  position: relative;
  background-color: #f2e6ff;
  border: 5px solid #a3c0f5;
  font-family: 'Press Start 2P';
  font-size: 10px;
}


.inventory_title {
    position: absolute;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 8px;
    display: inline-block;
    background: #f2e6ff;
    color: #660066;
}

.inventory_box {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    height: 60px;
    width: 60px;
    border: 5px solid #a3c0f5;
}


.myButton{
  position: absolute;
  top:25px;
  left: 25px
}

.groundbutton{
  position: absolute;
  top:20px;
  left:175px;
}

.box{
  position:absolute;
  top:15px;
  left:15px;
}
.playerbutton{
  position: absolute;
  top:20px;
  left: 235px;
}

.customsprite{
  position:absolute;
  top:150px;
}

.changebutton{
  position:absolute;
  top:180px;
}

.itembutton{
  position: absolute;
  top:20px;
  left: 270px;
}

.effect-selector{
  position: absolute;
  top: 170px;
}

.itemstrengthselector{
  position: absolute;
  top:200px;
}

.itemtargets{
  position:absolute;
  top:220px;
}

.customitem{
  position: absolute;
  top:120px;
}

.changeitem{
  position: absolute;
  top:150px;
}

.solid-selector{
  position: absolute;
  top:110px;

}

.environ-effect-selector{
  position: absolute;
  top: 130px;
}

.customterrain{
  position: absolute;
  top:160px;
}
.changeterrain{
  position: absolute;
  top:190px;

}

.customnpc{
  position: absolute;
  top:120px;
}

.changenpc{
  position: absolute;
  top:150px;
}

.npcmessager{
  position: absolute;
  top:175px;

}

.npc-gravity-selector{
  position: absolute;
  top:210px;
  display:block;
}

.npcmaxhealthselector{
  position: absolute;
  top:300px;

}

.gravity-selector{
  position: absolute;
  top: 200px;
  display: block;
}

.customenemy{
  position: absolute;
  top: 120px;
}

.changeenemy{
  position: absolute;
  top: 150px;
}
.enemydamageselector{
  position: absolute;
  top: 190px;
  display: block;
}

.enemy-gravity-selector{
  position: absolute;
  top: 260px;
  display: block;
}

.enemymaxhealthselector{
  position: absolute;
  top: 350px;

}

.enemy-speed-selector{
  position: absolute;
  top: 410px;
}

.speed-selector{
  position: absolute;
  top: 265px;
  display: block;
}
.maxhealthselector{
  position:absolute;
  top:290px;
}

.editpic {
  position:absolute;
  top:5px;
  left: 5px;
}

.enemybutton{
  position: absolute;
  top:20px;
  left: 325px;
}

.npcbutton{
  position: absolute;
  top:20px;
  left: 390px;
}

.wincondbutton{
  position:absolute;
  top:20px;
  left:450px;
}

.wincondeditor{
  position:absolute;
  top:-50px;
}

.backgroundbutton{
  position:absolute;
  top:20px;
  left:510px;
}

.changebackground{
  position:absolute;
  top:160px;

}


.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -100px;
  pointer-events: none;
}

.cursor2 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -100px;
  cursor: none;
  pointer-events: none;
}

.cursor3 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  top: -10px;
  cursor: none;
  pointer-events: none;
  display:none;
}

.cursor4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}
.cursor5 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}
.cursor6 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}

.eraser {
  position: absolute;
  top:20px;
  left: 100px;
}

.header {
    position:fixed; top:0; left:0;
    width: 80%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -5%;
    margin-bottom: 3%;
    height: 100px;
    background-color: #f2e6ff;
    border: 5px solid #a3c0f5;
    font-family: 'Press Start 2P';
    font-size: 10px;

}



.wrapper {
  width: 80%;
      height: 500px;
      background: url("https://i.pinimg.com/originals/fe/78/bb/fe78bbb25f35d56b502327fb6d43b309.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 5px solid #a3c0f5;
      margin-top:10%;
      margin-left: 4%;
      overflow: auto;
      position: fixed;

}
