/* Makelevel CSS Table of Contents:
  * SIDE menu bar
  * TOP menu bar
    * BUTTONS in top menu bar
  * EDITORS: per-element menus that are displayed in side menu bar
  * CURSORS
  * WRAPPER element (wraps canvas)
*/

/** TOP menu bar **/
header {
    position: relative;
    ax-width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 90px;
    background-color: #f2e6ff;
    border: 5px solid #a3c0f5;
    font-family: 'Press Start 2P';
    font-size: 10px;
    overflow: hidden;
    overflow-x: scroll;
}

/** canvas area **/
section {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  width: calc(100% - 270px);
}

/** SIDE menu bar --options menu **/
aside{
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  width: 200px;
}

.options{
  height: 500px;
  position: relative;
  background-color: #f2e6ff;
  border: 5px solid #a3c0f5;
  font-family: 'Press Start 2P';
  font-size: 10px;
}


.options_title {
    position: relative;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 45px;
    display: inline-block;
    background: #f2e6ff;
    color: #660066;
}

.options_box {
    position: relative;
    margin-top: 10px;
    margin-left: 60px;
    height: 60px;
    width: 60px;
}

/*editpic is the thumbnail of the element shown in the options menu*/
.editpic {
  position:absolute;
  top:5px;
  left: 5px;
  outline-style:none;
  box-shadow:none;
}

/** BUTTONS in top menu **/
.savebutton {
    position: relative;
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    font-family : 'Press Start 2P';
    font-size:15px;
    line-height: 120%;
    padding: 10px 10px;
    text-decoration:none;
    display: inline-block;
    text-align: center;
    background-color:#ffe6f0;
    color: #5e90ed;
    width: 150px;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    outline-style:none;
    box-shadow:none;
    border:3px solid #a3c0f5;
}

.homebutton {
    position: relative;
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    font-family : 'Press Start 2P';
    font-size:15px;
    line-height: 120%;
    padding: 19px 10px;
    text-decoration:none;
    display: inline-block;
    text-align: center;
    background-color:#ffe6f0;
    color: #5e90ed;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    width: 150px;
    outline-style:none;
    box-shadow:none;
    border:3px solid #a3c0f5;
}

.linkbutton {
    position: relative;
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    font-family : 'Press Start 2P';
    font-size:15px;
    line-height: 120%;
    padding: 10px 10px;
    text-decoration:none;
    display: inline-block;
    text-align: center;
    background-color:#ffe6f0;
    color: #5e90ed;
    width: 150px;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    outline-style:none;
    box-shadow:none;
    border:3px solid #a3c0f5;
}
/*move mode button*/
.movemode{
  outline-style:none;
  box-shadow:none;
  position: absolute;
  top:20px;
  left: 25px
}

/*eraser button*/
.eraser {
  outline-style:none;
  box-shadow:none;
  position: absolute;
  top: 20px;
  left: 90px;
}

.groundbutton{
  outline-style:none;
  box-shadow:none;
  position: absolute;
  top: 20px;
  left: 155px;
}


.playerbutton{
  outline-style:none;
  box-shadow:none;
  position: absolute;
  top: 20px;
  left: 220px;
}

.npcbutton{
  outline-style:none;
  box-shadow:none;
  position: absolute;
  top:20px;
  left: 280px;
}

.enemybutton{
  outline-style:none;
  box-shadow:none;
  position: absolute;
  top:20px;
  left: 340px;
}

.itembutton{
  outline-style:none;
  box-shadow:none;
  position: absolute;
  top:20px;
  left: 400px;
}

.wincondbutton{
  outline-style:none;
  box-shadow:none;
  position:absolute;
  top:20px;
  left:460px;
}

.backgroundbutton{
  outline-style:none;
  box-shadow:none;
  position:absolute;
  top:25px;
  left:520px;
}

/**EDITORS**
  **per-element menus that display in the Options box on the right
*/

.editorTitle{
  position: relative;
  font-size: 10px;
  margin-top: 20px;
  margin-left: 25px;
  color: #660066;
}

.editorElement{
  position: relative;
  max-width: 100%;
  font-size: 9px;
  margin-top: 5px;
  margin-left: 25px;
  color: #5e90ed;
}

/* **end of editors** */


/*cursor styles that change when element is selected*/
.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -100px;
  pointer-events: none;
}

.cursor2 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -100px;
  cursor: none;
  pointer-events: none;
}

.cursor3 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  top: -10px;
  cursor: none;
  pointer-events: none;
  display:none;
}

.cursor4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}
.cursor5 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}
.cursor6 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}

/* WRAPPER:  CANVAS is in, sets contains background image for game*/
.wrapper {
  max-width: 100%;
  max-height: 500px;
  background: url("https://i.pinimg.com/originals/fe/78/bb/fe78bbb25f35d56b502327fb6d43b309.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #a3c0f5;
  overflow: auto;
  position: relative;
  margin-bottom: 20px;
}

footer {
    clear: both;
    background-color: #f2e6ff;
    max-width: 100%;
    margin-top: 540px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 5px solid #a3c0f5;
    font-family: 'Press Start 2P';
}

/* mouse over link */
a.headerbuttons:hover {
  color: #b30059;
  background: #d2e0f9;
  box-shadow: 0 0 20px #a3c0f5;
  text-decoration: none;
}

button:hover {
  color: #b30059;
  background: #d2e0f9;
  box-shadow: 0 0 20px #a3c0f5;
  text-decoration: none;
}

input.headerbuttons:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 102, 179, 1));
   filter: drop-shadow(0px 0px 10px rgba(255, 102, 179, 1));
  text-decoration: none;
}

a {
  outline-style:none;
  box-shadow:none;
}

button {
  font-family : 'Press Start 2P';
  font-size:9px;
  padding: 5px 15px;
  text-decoration:none;
  background-color:#ffe6f0;
  color: #5e90ed;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:2px solid #a3c0f5;
  outline-style:none;
  box-shadow:none;
}

input {
  outline-style:none;
  box-shadow:none;
}

select {
  font-family : 'Press Start 2P';
  font-size: 9px;
  height: 21px;
  text-decoration:none;
  background-color:#ffe6f0;
  color: #5e90ed;
  border:2px solid #a3c0f5;
  outline-style:none;
  box-shadow:none;
}
