.myButton{
  position: absolute;
  top:25px;
  left: 25px
}

.groundbutton{
  position: absolute;
  top:20px;
  left:175px;
}

.box{
  position:absolute;
  top:15px;
  left:15px;
}
.playerbutton{
  position: absolute;
  top:20px;
  left: 405px;
}

.itembutton{
  position: absolute;
  top:20px;
  left: 600px;
}

.effect-selector{
  position: absolute;
  left:605px;
  top: 70px;

}

.solid-selector{
  position: absolute;
  left:165px;
  top: 70px;

}

.gravity-selector{
  position: absolute;
  left:320px;
  top: 70px;
  display: block;
}
.speed-selector{
  position: absolute;
  left:310px;
  top: 40px;
  display: block;
}
.maxhealthselector{
  position:absolute;
  left:310px;
  top:0px;
}


.enemybutton{
  position: absolute;
  top:20px;
  left: 700px;
}

.npcbutton{
  position: absolute;
  top:20px;
  left: 800px;
}


.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -100px;
  pointer-events: none;
}

.cursor2 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -100px;
  cursor: none;
  pointer-events: none;
}

.cursor3 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  top: -10px;
  cursor: none;
  pointer-events: none;
  display:none;
}

.cursor4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}
.cursor5 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}
.cursor6 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -100px;
  cursor: none;
  pointer-events: none;
  display:none;
}

.eraser {
  position: absolute;
  top:20px;
  left: 100px;
}

.header {
    position:fixed; top:0; left:0;
    background-color: #a3c0f5;
    width: 87%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -5%;
    margin-bottom: 3%;
    height: 100px;
    border: 5px solid #475F96;
    font-family: 'Press Start 2P';
    font-size: 10px;

}



.wrapper {
    width: 88%;
    height: 500px;
    border: 5px solid #a3c0f5;
    margin-top:10%;
    margin-left: 4%;
    overflow: auto;
    position: fixed;
    background-image: url("https://i.pinimg.com/originals/fe/78/bb/fe78bbb25f35d56b502327fb6d43b309.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
